@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background-color: #fff;
  border-radius: 0.375rem;
  border-width: 1px;
  position: relative;
  color: rgba(130, 130, 130, 1);
  width: 100%;
  appearance: none;
  border-color: rgba(189, 189, 189, 1);
  display: block;
  padding: 1rem;
  max-width: 400px;
}
